@font-face {
    font-family: "Nunito-Sans";
    font-style: normal;
    src: url(/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Nunito-Sans";
    font-style: italic;
    src: url(/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Quattrocento Sans";
    font-style: bold;
    font-weight: 600;
    src: url(/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Quattrocento Sans";
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Overpass";
    font-style: normal;
    src: url(/fonts/Overpass/Overpass-VariableFont_wght.ttf) format("truetype");
}


:root{
  --Titles: 'Quattrocento Sans', sans-serif;
  --Headers: 'Nunito-Sans', sans-serif;
  --text-blocks: 'Overpass', sans-serif; 

  --Bg-dark: #2c2627;
  --Bg-light: #524b4c;
  --accents: #7b7475;
  --highlights: #a79fa1;
  --font-color: #d5cdcf;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.2vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--Bg-dark);
}

.nav {
    background-color: var(--Bg-light);
    color: var(--font-color);
    width: 100%;
    height: 15%;
    display: flex;
    position: relative;
}

.nav #logo{
    position: absolute;
    top: 50%;
    left: 2%;
    height: 70%;
    transform: translateY(-50%);
}

.nav #nav-bar{
    position: absolute;
    height: 100%;
    width: auto;
    right: 8%;
    text-align: center;
}

#nav-bar li{
    text-align: center;
    font-size: x-large;
    height: 100%;
    margin-right: 2%;
    font-weight: 300;
    color: var(--font-color);
}

#nav-bar li:hover{
    color: var(--highlights);
}
