@font-face {
    font-family: "Nunito-Sans";
    font-style: normal;
    src: url(/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Nunito-Sans";
    font-style: italic;
    src: url(/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Quattrocento Sans";
    font-style: bold;
    font-weight: 600;
    src: url(/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Quattrocento Sans";
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Overpass";
    font-style: normal;
    src: url(/fonts/Overpass/Overpass-VariableFont_wght.ttf) format("truetype");
}


:root{
  --Titles: 'Quattrocento Sans', sans-serif;
  --Headers: 'Nunito-Sans', sans-serif;
  --text-blocks: 'Overpass', sans-serif; 

  --Bg-dark: #2c2627;
  --Bg-light: #524b4c;
  --accents: #7b7475;
  --highlights: #a79fa1;
  --font-color: #d5cdcf;

  --scroll-duration: 60s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.2vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html{
  background-color: #202020;
  font-family: var(--SmlFont);
}

body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--Bg-dark);
}

.nav {
    background-color: var(--Bg-light);
    color: var(--font-color);
    width: 100%;
    height: 15%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.nav #logo{
    height: 70%;
    width: auto;
    margin: 1%;
}

.nav #nav-bar{
    width: 30%;
    margin: 1%;
    text-align: center;
    list-style: none;
    display: inline-flex;
    float: right;
    justify-content: right;
}

#nav-bar li{
    font-size: x-large;
    margin-right: 1.4rem;
    font-weight: 300;
    color: var(--font-color);
    font-family: var(--text-blocks);
    
}
#nav-bar li a{
  font-style: normal;
  text-decoration: none;
  color: var(--font-color);
  
}


#nav-link a:hover{
    color: var(--highlights);
}

.About{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.stack-list{
  list-style: none;
  
}

.stack-list li{
  background-color: var(--Bg-light);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  color: var(--font-color);
  font-family: var(--Headers);
  font-size: large;
  filter: drop-shadow(0 0 0.2rem var(--Bg-light));
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.stack-list li img{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  filter: invert();
}

.scroller{
  max-width: 95%;
  height: auto;
}

.scroller[data-animated = true]{
  overflow: hidden;
  -webkit-mask: 
  linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );

  mask: 
    linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
}

.scroller_inner{
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  margin-block: 0.5rem;
}

.scroller[data-animated = true] .scroller_inner:hover{
  animation-play-state: paused;
}

.scroller[data-animated = true] .scroller_inner{
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll var(--scroll-duration) linear infinite;
}

@keyframes scroll{
  to{
    transform: translate(calc(-50% - 0.5rem));
  }
}

