@font-face {
    font-family: "Nunito-Sans";
    font-style: normal;
    src: url(/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Nunito-Sans";
    font-style: italic;
    src: url(/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Quattrocento Sans";
    font-style: bold;
    font-weight: 600;
    src: url(/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Quattrocento Sans";
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Overpass";
    font-style: normal;
    src: url(/fonts/Overpass/Overpass-VariableFont_wght.ttf) format("truetype");
}


:root{
  --Titles: 'Quattrocento Sans', sans-serif;
  --Headers: 'Nunito-Sans', sans-serif;
  --text-blocks: 'Overpass', sans-serif; 

  --Bg-dark: #2c2627;
  --Bg-light: #524b4c;
  --accents: #7b7475;
  --highlights: #a79fa1;
  --font-color: #d5cdcf;

  --focus: #795bad;
  --focus-highlight: #af8ee5;

  --scroll-duration: 60s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.2vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  background-color: var(--Bg-dark);
  font-family: var(--SmlFont);
}

body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--Bg-dark);
  margin: 0;
  padding: 0;
}

.nav {
    background-color: var(--Bg-light);
    color: var(--font-color);
    width: 100%;
    height: 8rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.nav #logo{
    height: 70%;
    width: auto;
    margin: 1%;
}

.nav #nav-bar{
    width: 30%;
    margin: 1%;
    text-align: center;
    list-style: none;
    display: inline-flex;
    float: right;
    justify-content: right;
}

#nav-bar li{
    font-size: x-large;
    margin-right: 1.4rem;
    font-weight: 300;
    color: var(--font-color);
    font-family: var(--text-blocks);
    
}
#nav-bar li a{
  font-style: normal;
  text-decoration: none;
  color: var(--font-color);
  
}


#nav-link a:hover{
    color: var(--focus-highlight);
}

.About{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stack-list{
  list-style: none;
}

.stack-list li{
  background-color: var(--Bg-light);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  color: var(--font-color);
  font-family: var(--Headers);
  font-size: large;
  filter: drop-shadow(0 0 0.2rem var(--Bg-light));
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.stack-list li:hover{
  filter: drop-shadow(0 0 0.2rem var(--focus-highlight));
  background-color: var(--focus);
}

.stack-list li img{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  filter: invert();
}

.scroller{
  margin: 0 auto;
  max-width: 95%;
  height: auto;
}

.scroller[data-animated = true]{
  overflow: hidden;
  -webkit-mask: 
  linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );

  mask: 
    linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    
}

.scroller_inner{
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  margin-block: 0.5rem;
}

.scroller[data-animated = true] .scroller_inner:hover{
  animation-play-state: paused;
}

.scroller[data-animated = true] .scroller_inner{
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll var(--scroll-duration) linear infinite;
}

@keyframes scroll{
  to{
    transform: translate(calc(-50% + 0.75rem));
  }
}

#bio-container{
  width: 100%;
  height: 100%;
  display: inline-flex;
  margin: 1rem;
  margin-bottom: 0;
}

#right-bio{
  width: 60%;
  height: 100%;
}

#bio-list{
  list-style: none;
  height: inherit;
  margin: 0;
  padding: 0;
}

#bio-list li{
  background-color: var(--Bg-light);
  filter: drop-shadow(0 0 0.2rem var(--Bg-light));
  margin: 1rem 0rem;
  height: 10rem;
  width: 85%;
  border-radius: 1.5rem;
  float: right;
  color: var(--font-color);
  font-family: var(--Headers);
  font-size: large;
  font-weight: 200;
}

#bio-list li div{
  display: block;
  padding: 1rem;
}

#bio-list li div *{
  margin: 0.2rem 0;
}

#bio-list li div h3{
  border-bottom: var(--focus) 0.11rem solid;

  -webkit-mask: 
  linear-gradient(
    90deg,
    white 20%,
    transparent
  );

  mask: 
    linear-gradient(
      90deg,
      white 20%,
      transparent
    );
}

#bio-list li::before{
  content: '';
  position: absolute;
  left: -3rem;
  top: 60%;
  bottom: 0;
  width: 0.25rem;
  background-color: var(--focus);
}

#bio-list li:not(:first-child):before{
  content: '';
  position: absolute;
  left: -3rem;
  top: -2rem;
  bottom: 0;
  width: 0.25rem;
  background-color: var(--focus);
}

#bio-list li:last-child:before{
  content: '';
  position: absolute;
  left: -3rem;
  top: -2rem;
  bottom: 40%;
  width: 0.25rem;
  background-color: var(--focus);
}

#bio-list li::after{
  content: '';
  position: absolute;
  left: -4.37rem;
  top: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--Bg-dark);
  border: 0.3rem solid var(--focus);
  border-radius: 50%;
}

#left-bio{
  width: 40%;
  height: 100%;
}


.Blockbench{
  width: 100%;
  height: 100%;
  display: block;
}

#Blockbench-header{
  font-family: var(--Headers);
  color: var(--font-color);
  background-color: var(--focus);
  padding: 0 1rem;
  height: 6rem;
  width: 18.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.2rem var(--focus));
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 3rem solid transparent;
  border-bottom: 3rem solid transparent;
  border-left: 3rem solid var(--focus);
  filter: drop-shadow(0 0 0.2rem var(--focus));
  margin-right: -4rem;
}

.waterfall{
  width: 95%;
  margin: 1rem auto;
  columns: 5;
  column-gap: 1rem;
  padding: 1rem;
}

.waterfall .box{
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--Bg-light);
  background: url('./images/halftone-grad-ov.png');
  background-blend-mode: overlay;
  background-size:cover;
  padding: 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.2rem var(--Bg-light));
  break-inside: avoid;
  display: flex;
  justify-content: space-around;
  border: solid 0.2rem var(--Bg-light);
}



.waterfall .box img{
  max-width: 50%;
  margin: 0;
}

@media (max-width: 1200px) {
  .waterfall{
    columns: 4;
  }
  .waterfall .box img{
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .waterfall{
    columns: 3;
  }
  .waterfall .box img{
    max-width: 70%;
  }
  #bio-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    margin-bottom: 0;
  }
  #right-bio{
    width: 100%;
    height: 100%;
  }
  #left-bio{
    width: 100%;
    height: 100%;
  }
  .nav #logo{
    height: 50%;
    width: auto;
    margin: 1%;
  }

  .nav #nav-bar{
    width: 30%;
    margin: 1rem;
    text-align: center;
    list-style: none;
    display: inline-flex;
    float: right;
    justify-content: right;
  }

  #nav-bar li{
    font-size: large;
    margin-right: 0.5rem;
    font-weight: 300;
    color: var(--font-color);
    font-family: var(--text-blocks);
    
  }
}

@media (max-width:650px) {
  .waterfall{
    columns: 1;
    margin: 0;
  }
  .waterfall .box img{
    max-width: 50%;
  }
  .About{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #bio-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  #bio-list{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #bio-list li{
    margin: 1rem 0;
    height: auto;
    width: 85%;
    border-radius: 1rem;
    color: var(--font-color);
    font-family: var(--Headers);
    font-size: 0.8rem;
    font-weight: 200;
  }
  #bio-list li::before{
    display: none;
  }

  #bio-list li:not(:first-child):before{
    display: none;
  }
  
  #bio-list li:last-child:before{
    display: none;
  }
  
  #bio-list li::after{
    display: none;
  }

  #right-bio{
    width: 100%;
    height: 100%;
  }

  #left-bio{
    width: 100%;
    height: 100%;
  }

  .nav{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav #logo{
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 0.3rem 0;
  }

  .nav #nav-bar{
    width: auto;
    margin: 0;
    padding: 0;
  }

  #nav-bar li{
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0.3rem;
    color: var(--font-color);
    font-family: var(--text-blocks);
  }

  #Blockbench-header{
    font-family: var(--Headers);
    color: var(--font-color);
    background-color: var(--focus);
    height: 4rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.2rem var(--focus));
    font-size: 0.6rem;
  }
  
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid var(--focus);
    filter: drop-shadow(0 0 0.2rem var(--focus));
    margin-right: -3.75rem;
  }

  .scroller{
    margin: 0;
  }
}